---
import Layout from "../layouts/Layout.astro";
import { pageData } from "@utils/pageData.ts";
import { removeIndex } from '@utils/removeIndex'
import { Debug } from 'astro/components';
import { HeaderTemplate } from "src/components/ReactComponents/HeaderTemplate/HeaderTemplate";
import { SliderTemplate } from "src/components/ReactComponents/SliderTemplate/SliderTemplate";

export async function getStaticPaths() {
  let pages = [];
  try {
    pages = await Astro.glob("../../content/pages/**/*.md");

  }finally {
    return pages.map((page) => {
      let path = removeIndex(page?.url?.slice(1));

      if (path === "main") 
      {
        path = undefined;
      }

      return {
          params: {
            path: path,
          },
          props: page,
        };
    });
    }
  }
  
// console.log("url + " +  Astro.props.url)
const data = await pageData(Astro.props.url.slice(1));

---

<Layout {...data}>
	<HeaderTemplate navigation={data?.site?.primaryNav} client:load/>
	<h2 class="pageTitle">{data?.titleHead}</h2>
  <SliderTemplate client:load/>
  
</Layout>
