---
import Layout from "@shared/ui/Layout/Layout.astro";
import { pageData } from "@shared/lib/pageData";
import { removeIndex } from '@shared/lib/removeIndex'
import { Mapper } from './Mapper/Mapper'
import { Header } from "@shared/ui/Header/Header";


export async function getStaticPaths() {
    let pages = [];
    try {
        pages = await Astro.glob("../../content/pages/**/*.md");

    }finally {
        return pages.map((page) => {
            let path = removeIndex(page?.url?.slice(1));

            if (path === "main") 
            {
                path = undefined;
            }

            return {
                params: {
                    path: path,
                },
                props: page,
            };
        });
    }

   
}
  
const data = await pageData(Astro.props.url.slice(1));

---

<Layout {...data}>
    <Header navigation={data?.site?.primaryNav} client:load/>
    <h2>{data?.titleHead}</h2>
    <Mapper pages={data.page} client:load/>
</Layout>
