---
import Layout from "@shared/ui/Layout/Layout.astro";
import { pageData } from "@shared/lib/pageData";
import { removeIndex } from '@shared/lib/removeIndex'
import { Mapper } from './Mapper/Mapper'
import { Header } from "@shared/ui/Header/Header";


export async function getStaticPaths() {
    let pages = null;

    try {
        pages = await Astro.glob("../../content/pages/**/*.md");

    }finally {
        pages = pages.map((page) => {
            const path = removeIndex(page?.url?.slice(1));

            return {
                params: {
                    path: path !== 'main' ? path : undefined ,
                },
                props: page,
            };
        });-
    }

    return pages
}
  
const data = await pageData(Astro.props.url.slice(1));

---

<Layout {...data}>
    <Header navigation={data?.site?.primaryNav} client:load/>
    <div class="max-w-screen-xl mx-auto px-5 pt-14">
        <h2 class="text-center mb-5 text-5xl">{data?.titleHead}</h2>
        <Mapper items={data.page} client:load/>
    </div>
</Layout>
