---
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro'
import { pageData } from "@utils/pageData.ts";
import { Debug } from 'astro/components';

export async function getStaticPaths() {
  const pages = await Astro.glob("../../content/pages/**/*.md");
  
  return pages.map((page) => {
    // strip starting slash
    let path = page?.url?.slice(1);
    if (path === "home") {
      path = undefined;
    }

    return {
      params: {
        path,
      },
      props: page,
    };
  });
}

const data = await pageData(Astro.props.url.slice(1));


---

<Layout {...data}>
	<Header navigation={data.site.primaryNav}/>
	<h2 class="page">{data.titleHead}</h2>
</Layout>
