---
import Admin from './Admin'
---

<html lang="en">
    <head>
    </head>
    <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->

    </body>

    <Admin client:only/>
</html>

<!-- <script src="./cms.ts" /> -->