@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
    font-family: system-ui, sans-serif;
    background-color: #F6F6F6;
}
code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.header {
	display: flex;
	padding: 20px;
	justify-content: space-around;
	background-color: antiquewhite;
	font-weight: bold;
	text-transform: uppercase;
}

.header li {
	list-style-type: none;
}

.pageTitle {
    padding: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    font-size: 32px;
}


/* dropdown */

li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}